/* Estilos generales */
.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin-top: 50px;
}

h2 {
    font-size: 28px;
    color: #444;
    text-align: center;
    margin-bottom: 30px;
}

/* Estilos para las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

td a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}
